*~
/bin
*/bin
/build
*/build
/buildSrc/build
/buildSrc/*.iml
/buildSrc/*.ipr
/buildSrc/*.iws
/buildSrc/lib
/buildSrc/out
.DS_Store
.gradle
gradle-app.setting
.idea
*/*.iml
*.iml
/intellij
/intTestHomeDir
*.ipr
*/*.iws
*.iws
/out
/performanceTest/build
/performanceTest/lib
*-plugin.xml
README*.html
.settings
*/.settings
/subprojects/*/bin
/subprojects/*/build
/subprojects/*/ide
/subprojects/*/*.iml
/subprojects/*/out
*.swp
.textmate
/website/build
/website/website.iml
/website/website.ipr
/website/website.iws
